{% extends "bootstrap4_base.html" %}
{% load i18n static jsonparse %}

{% block title %}{% trans "Dronestream" %} | {% trans "Map" %}{% endblock %}

{% block extrastyle %}
    <link rel="stylesheet" href="{% static "css/fontawesome-all.min.css" %}">
    <link rel="stylesheet" href="{% static "css/bootstrap-datetimepicker.min.css" %}">
    <link rel="stylesheet" href="{% static "css/map.css" %}">
{% endblock %}

{% block content %}
    <nav class="navbar navbar-dark fixed-top bg-dark">
        <a class="navbar-brand" href="#">{% trans "Dronestream" %}</a>
        <div class="navbar-expand mr-auto">
            <ul class="navbar-nav">
                <li class="search-button">
                    <a class="nav-link" href="#"><i class="fa fa-search"></i> Search</a>
                </li>
            </ul>
        </div>
    </nav>

    <main role="main" class="container-fluid">
        <div id="map"></div>
        <div id="filter" class="card text-white bg-dark">
            <div class="card-header"><i class="fa fa-filter"></i> Filter</div>
            <div class="card-body">
                <form id="strike-filters-form" action="." method="get">
                    {% include "map_filters.html" %}
                </form>
            </div>
        </div>
    </main>
{% endblock %}

{% block extrascript %}
    <script src="{% static "js/moment-with-locales.js" %}"></script>
    <script src="{% static "js/bootstrap-datetimepicker.min.js" %}"></script>
    <script>
        var strike_data = {{ strikes | json | safe }};
    </script>
    <script src="{% static "js/map.js" %}"></script>
    <script src="{% static "js/google.maps.markerclusterer.min.js" %}"></script>
    <script async defer
            src="https://maps.googleapis.com/maps/api/js?key={{ GOOGLE_MAPS_API_KEY }}&callback=initMap"></script>
{% endblock %}